<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../js-css/admin/admin.css">
    <link rel="stylesheet" href="../views/bootstrap-5.1.3-dist/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-white sticky" data-offset="500">
        <div class="navbar-collapse collapse" id="navbarContent">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link btn btn-outline-primary" role="button" data-bs-toggle="button" href="/inicio">INICIO</a>
              </li>
              <li class="nav-item">
                <a class="nav-link btn btn-outline-primary" role="button" data-bs-toggle="button" href="/RProductos">PRODUCTOS</a>
              </li>
          </ul>
        </div>   
      </div>
  </nav>
    <div class="fondo">
        <div class="logo">
            <img src="../js-css/admin/logo1.jpg">
        </div>
        <h1 class="titulo">BIENVENIDO ADMIN</h1>
        <p class="parrafo">
            <h2>un universo donde el arte desafia a la tecnologia , y la tecnologia inspira al arte.  <br>  bienvenido al admin de android </h2>
        </p>
        <br>
        <table cellpadding="15" border ="">
            <caption>
                <b>
                    ESTADISTICAS ANDROID 12
                </b> 
            </caption>
            <tbody>
                <tr class="titulos-tabla">
                   
                    <td>
                        nombre
                    </td>
                    <td>
                        usuario
                    </td>
                    <td>
                        clave
                    </td>
                    <th>
                        <center><a href="https://websmultimedia.com/contador-de-visitas-gratis" title="Contador De Visitas Gratis">
                            <img style="border: 0px solid; display: inline;" alt="contador de visitas" src="https://websmultimedia.com/contador-de-visitas.php?id=2320"></a><br><a href='https://websmultimedia.com/contador-de-visitas-gratis'>Contador de visitas</a><br><a href='http://www.websmultimedia.com/diseno-logotipos'>presupuesto logotipo</a></center>
                    </th>
                </tr>
                <br>
                <tr>
                    <td>
                        Bryan
                    </td>
                    <td>
                        brygue2474
                    </td>
                    <td>
                        1q54d84fe1f3
                    </td>
    
                </tr>
                <tr>
                    <td>
                        Genesis
                    </td>
                    <td>
                        Genesis1010
                    </td>
                    <td>
                        1q54d8duaoiiq
                    </td>
    
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>